[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
openpyxl = "*"
chardet = "*"
xlsxwriter = "*"
pyyaml = "*"
pip = "*"
xlrd = "==1.2.0"
celery = "*"
redis = "*"
jinja2 = "*"

[dev-packages]

[requires]
python_version = "*"
